<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sys="http://hspersonal.roy.com/thymeleaf/sys">
<body>
<div th:include="common/header.html"/>
<table id="dg" toolbar="#tb"></table>
<div id="tb">
    <sys:permission code="editRole">
        <a href="#" onclick="doAdd()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="#" onclick="doEdit()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="#" onclick="doDelete()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        <a href="#" onclick="doAuthor()" class="easyui-linkbutton" iconCls="icon-key" plain="true">授权</a>
        <a href="#" onclick="doBan()" class="easyui-linkbutton" iconCls="icon-ban" plain="true">启禁</a>
    </sys:permission>
    <a href="#" onclick="doView()" class="easyui-linkbutton" iconCls="icon-view" plain="true">查看权限</a>
</div>
<div id="w" class="easyui-window" style="width:350;height:150;" title="维护角色" modal="true">
    <br>
    <form method="post" id="actionForm">
        <input type="hidden" name="id"/>
        <input type="hidden" name="enable"/>
        <table>
            <tr>
                <td class="info-td">角色名称：</td>
                <td><input type="text" name="name"/>&nbsp;<font color=red>*</font></td>
            </tr>
        </table>
        <br>
        <a class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)" onclick="doSave()">保存</a>
        <a class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)" onclick="doClose()">关闭</a>
    </form>
    <br>
</div>
<script type="text/javascript" th:inline="none">
    $(function () {
        $('#w').window('close');
        $('#dg').datagrid({
            url: "/system/role/init",
            rownumbers: true,
            title: '角色列表',
            border: false,
            fit: true,
            singleSelect: true,
            pagination: true,
            pageSize: 15,
            pageList: [15, 20, 30],
            beforePageText: '第',
            afterPageText: '页    共 {pages} 页',
            displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            columns: [[
                {field: 'id', title: '主键ID', width: 200, align: 'center', sortable: true},
                {field: 'name', title: '角色名称', width: 200, align: 'center', sortable: true},
                {field: 'enable', title: '状态', width: 100, align: 'center', sortable: true, formatter: status}
            ]]
        });
    });

    function status(value) {
        return (value == 0) ? "<font color='red'>禁用</font>" : "<font color='green'>启用</font>";
    }

    function doAdd() {
        $('#actionForm').form('clear');
        $('#w').window('open');
    }

    function doAuthor() {
        var rows = $('#dg').datagrid('getSelected');
        if (rows == null) {
            $.messager.alert('提示', '请选择需要授权的角色');
            return;
        }
        location.href = "/system/role/toauthorRole?id=" + rows.id;
    }

    function doView() {
        var rows = $('#dg').datagrid('getSelected');
        if (rows == null) {
            $.messager.alert('提示', '请选择需要查看权限点的角色');
            return;
        }
        location.href = "/system/role/toViewRolePermission?id=" + rows.id;
    }

    function doBan() {
        var rows = $('#dg').datagrid('getSelected');
        if (rows == null) {
            $.messager.alert('提示', '请选择需要修改启禁状态的角色');
            return;
        }
        $.messager.confirm('询问', '确定要修改该角色的启禁状态？', function (rtn) {
            if (rtn) {
                $.ajax({
                    type: "POST",
                    url: "/system/role/ban",
                    data: {roleId: rows.id},
                    success: function (data) {
                        var json = eval('(' + data + ')');
                        if (json.success == 1) {
                            $.messager.alert('提示', '修改角色的启禁状态成功');
                            $('#dg').datagrid('load');
                        } else {
                            $.messager.alert('提示', '数据提交处理失败，原因：' + json.info);
                        }
                    }
                });
            }
        });
    }

    function doDelete() {
        var rows = $('#dg').datagrid('getSelected');
        if (rows == null) {
            $.messager.alert('提示', '请选择需要删除的角色');
            return;
        }
        $.messager.confirm('询问', '确定要删除该角色数据信息？', function (rtn) {
            if (rtn) {
                $.ajax({
                    type: "POST",
                    url: "/system/role/delete",
                    data: {roleId: rows.id},
                    success: function (data) {
                        var json = eval('(' + data + ')');
                        if (json.success == 1) {
                            $.messager.alert('提示', '删除角色数据信息成功');
                            $('#dg').datagrid('load');
                        } else {
                            $.messager.alert('提示', '数据提交处理失败，原因：' + json.info);
                        }
                    }
                });
            }
        });
    }

    function doEdit() {
        var rows = $('#dg').datagrid('getSelected');
        if (rows == null) {
            $.messager.alert('提示', '请选择需要修改的数据');
            return;
        }
        $.ajaxSetup({cache: false});
        $('#actionForm').form('load', "/system/role/edit?roleId=" + rows.id);
        $('#w').window('open');
    }

    function doSave() {
        $('#actionForm').form('submit', {
            url: "/system/role/save",
            onSubmit: function () {
                if ($('input[name=name]').val() == "") {
                    $.messager.alert('提示', '角色名称不能为空');
                    return false;
                }
            },
            success: function (data) {
                var json = eval('(' + data + ')');
                if (json.success == 1) {
                    $('#w').window('close');
                    $.messager.alert('提示', '保存角色数据成功');
                    $('#dg').datagrid('load');
                } else {
                    $.messager.alert('提示', '数据提交处理失败，原因：' + json.info);
                }
            }
        });
    }

    function doClose() {
        $('#w').window('close');
    }
</script>
</body>