<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sys="http://hspersonal.roy.com/thymeleaf/sys">
<body>
<div th:include="common/header.html"/>
    <table id="dg" toolbar="#tb"></table>
    <div id="tb">
        &nbsp;参数编码：<input type="text" id="codeParam" />
        &nbsp;参数值：<input type="text" id="valueParam" />
        &nbsp;参数说明：<input type="text" id="memoParam" />
        <a href="#" onclick="doSearch()" class="easyui-linkbutton" iconCls="icon-search" plain="true">查询</a>
        <sys:permission code="editParam">
        <a href="#" onclick="doAdd()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>  
        <a href="#" onclick="doEdit()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="#" onclick="doDelete()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a> 
        </sys:permission>
    </div>
    <div id="w" class="easyui-window" style="padding-left:15px;width:350;height:200;" title="维护参数" modal="true">
            <form method="post" id="actionForm"> 
            	<br>
                <input type="hidden" name="id" />
                <input type="hidden" name="enable" />
                <table> 
                    <tr>
                    <td class="info-td">参数编码：</td>
                    <td><input type="text" id="code" name="code"/>&nbsp;<font color=red>*</font></td>
                    </tr>
                    <tr> 
                    <td class="info-td">参数值：</td> 
                    <td><input type="text" id="value" name="value"/>&nbsp;<font color=red>*</font></td> 
                    </tr>
                    <tr> 
                    <td class="info-td">参数说明：</td> 
                    <td><input type="text" name="memo"/></td> 
                    </tr>
                </table>
                <br>
                <a class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)" onclick="doSave()">保存</a> 
                <a class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)" onclick="doClose()">关闭</a> 
            </form>
            <br>
    </div>
    <script type="text/javascript" th:inline="none">
        $(function () { 
            $('#w').window('close'); 
            $('#dg').datagrid({
                url:"/system/param/init",
                rownumbers:true,
                title:'参数列表',
                border:false,
                fit: true,
                singleSelect:true,
                pagination:true,
                pageSize: 15,
                pageList: [15,20,30],
                beforePageText: '第',
                afterPageText: '页    共 {pages} 页',  
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
                columns:[[
                    {field:'code',title:'参数编码',width:180,align:'hcenter',sortable:true},
                    {field:'value',title:'参数值',width:350,align:'hcenter',sortable:true},
                    {field:'memo',title:'参数说明',width:350,halign:'center',sortable:true},
                    {field:'enable',title:'是否可用',width:80,align:'center',sortable:true,formatter:isOrNo}
                ]]
            });
        });
        function doAdd()
        {
            $('#actionForm').form('clear');
            $('#w').window({top:110});
            $('#w').window('open'); 
        }
        function doDelete()
        {
            var rows = $('#dg').datagrid('getSelected');
            if(rows==null)
            {
                $.messager.alert('提示','请选择需要删除的数据'); 
                return;
            }
            $.messager.confirm('询问', '确定要删除该数据信息？', function(rtn){
				if (rtn){
                    $.ajax({  
                        type: "POST",
                        url:"/system/param/delete",
                        data: { id: rows.id},
                        success: function (data) {
                            var json=eval('('+data+')');  
                            if(json.success==1)
                            {
                                $.messager.alert('提示','删除数据成功');
                                $('#dg').datagrid('reload');
                            }
                            else
                            {
                                $.messager.alert('提示','数据提交处理失败，原因：'+json.info);
                            }
                        }
                    });
                }
            });
        }
        function doEdit()
        {
            var rows = $('#dg').datagrid('getSelected');
            if(rows==null)
            {
                $.messager.alert('提示','请选择需要修改的数据'); 
                return;
            }
            $.ajaxSetup({cache: false});
            $('#actionForm').form('load',"/system/param/edit?id="+rows.id);
            $('#w').window({top:110});
            $('#w').window('open'); 
        }
        function doSave()
        {
            $('#actionForm').form('submit',{
                url:"/system/param/save",
                onSubmit: function(){
                    if($('#code').val()=="")
                    {
                        $.messager.alert('提示','参数编码不能为空');
                        return false;
                    }
                    if($('#value').val()=="")
                    {
                        $.messager.alert('提示','参数值不能为空');
                        return false;
                    }
                },
                success:function(data){
                    var json=eval('('+data+')');  
                    if(json.success==1)
                    {
                        $('#w').window('close');
                        $.messager.alert('提示','保存数据成功');
                        $('#dg').datagrid('load');
                    }
                    else
                    {
                        $.messager.alert('提示','数据提交处理失败，原因：'+json.info);
                    }
                }   
            });
        }
        function doSearch()
        {
            var param = {
            	code: $("#codeParam").val(),
            	value: $("#valueParam").val(),
            	memo: $("#memeoParam").val()
            };
            $("#dg").datagrid("load", param);
        }
        function doClose()
        {
            $('#w').window('close');
        }
    </script>
</body>